body {
    background-color: aliceblue;
    font-family: helvetica;
}

@font-face {
    font-family: "arc";
    src: url("ARCDEMO-Regular.woff");
}

@font-face {
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/drw6mvk.css);
}

div.header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    padding: 5px 20px 10px;
    background: red;
    color: #f1f1f1;
    position: fixed;
    top: 0;
    margin-left: -10px;
    height: 50px;
    width: 100%
}

div.heading{
    background-color: black;
    padding: 20px;
    font-family: "bd-geminis", sans-serif;
    font-size: 80px;
    color: aliceblue;
    margin-top: 60px;
    margin-bottom: -5px;
    margin-left: -10px;
    text-align: justify;
    letter-spacing: 10px;
    width: 100%;
}

div.subtitle{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    background-color:aquamarine;
    margin-bottom: 25px;

}

div.divider{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

div.p1{
    font-size: 25px;
}

div.p2{
    font-size: 20px;
    font-family: "arc";
    font-weight: bold;
}