body {
    background-color:rgb(231, 230, 230);
    margin: 0px;
    font-size: 36px;
}

@font-face {
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/ibf2grq.css);
}

div.container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
}

div.col{
    
}

div.row {
    display: flex;
    flex-wrap: wrap;
    
}

div.width100{
    width: 100%;
}

div.width80{
    width: 80%;
}

div.width75{
    width: 75%;
}

div.width66{
    width: 66.6%;
}

div.width60{
    width: 60%;
}

div.width50{
    width: 50%;
}

div.width40{
    width: 40%;
}

div.width33 {
    width: 33.333%;
}

div.width30 {
    width: 30%;
}

div.width27 {
    width: 27%;
}

div.width26 {
    width: 26%;
}

div.width25 {
    width: 25%;
}

div.width20 {
    width: 20%;
}

div.width16{
    width: 16.66%;
}

div.width14{
    width: 14%;
}

div.width12{
    width: 12%;
}

div.width10{
    width: 10%;
}

.header{
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    word-spacing: 25px;
    padding-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.header2{
    background-color:rgb(231, 230, 230);
    color: rgb(231, 230, 230);
    width: 100%;
    padding-top: 90px;
}

.menu{
    padding-left: 50px;
}

span.black{
    color: black;
    cursor: pointer;
}

span.black:hover{
    color: #7ac144;
    text-decoration: underline;
    font-family: "bd-geminis", sans-serif;
    letter-spacing: 2.5px;
}

span.button{
    color: white;
    cursor: pointer;
}

span.button:hover{
    text-decoration: underline;
}

span.login{
    background-color: #7ac144;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

span.border{
    border: 0.50px solid gray;
    color: gray;
    padding: 9px;
    padding-right: 180px;
}

.centre{
    text-align: center;
}

.searchbar{
    background-color: white;
    color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    padding-bottom: 15px;
}

.searchbar2{
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 8px 0px 0px 8px;
    color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

span.search{
    background-color: #7ac144;
    padding: 15px;
    border: 0.5px solid #7ac144;
    border-radius: 0px 8px 8px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div.logo{
    padding-bottom: 20px;
    cursor: pointer;
}

.movie{
    margin-top: 40px;
}

.fake{
    background-color:#7ac144;
    display:relative;
    z-index: 999;
}

.margintop{
    margin-top: 30px;
}

.marginbottom{
    margin-bottom: 30px;
}

.fake:hover{
    background-color:black;
    display: absolute;
    color: white;
    font-size: 24px;
    font-family: "bd-geminis", sans-serif;
}

.marquee{
    font-size: 24px;
    font-family: "bd-geminis", sans-serif;
    background-color:#7ac144;
    color:#7ac144;
}

video.webcam {
    object-fit:cover;
    transform: scaleX(-1);
    filter:grayscale(0);
    width: 90%;
    height: 90%;
    filter: sepia(100%);
    filter: saturate(2);
    background-color:gray;
}

.link{
    margin-bottom: 40px;
    text-align: center;
}

span.red{
    color: red;
    text-decoration: underline;
}

span.green{
    color: #7ac144;
}

.posters:hover{
    opacity: 80%;
}

span.fontanimation {
    animation: clickhere 6s infinite alternate;
}

@keyframes clickhere {
    0% {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    25% {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
    }
    50% {
        font-family: "bd-geminis", sans-serif;
        font-size: 30px;
    }
    75% {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
    }
    100% {
        font-family: 'Times New Roman', serif;
        font-size: 30px;
    }
} 

.searching:after {
    content:"";
    animation: searching 10s linear infinite;
}
  
@keyframes searching {
    0% { content:"Searching...";}
    100% { content:"Watching....";}
}

.watched:before {
    content:"";
    animation: watched 10s linear infinite;
}
  
@keyframes watched {
    0% { content:"whatched";}
    50% { content:"monitord";}
    75% { content:"observed";}
    100% { content:"survielled";}
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.img{
    position:relative;
    display: ;
}

.img-hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.img:hover .img-hover{
    display: inline;
    opacity: 30%;
}

.small{
    height: 50%;
    width: 50%;
}

.pointer{
    cursor: pointer;
}

.fixedimage{
    position: fixed;
    opacity: 4%;
}

.one{
    top: 100px;
    right: 100px;
}

.two{
    top: 150px;
    left: 200px;
}

.three{
    bottom: 100px;
    right: 10px;
}

.four{
    top: 250px;
    left: 700px;
}

.five{
    top: 40px;
    left: 900px;
}

.six{
    bottom: 250px;
    left: 10px;
}

.seven{
    bottom: 100px;
    left: 400px;
}

.eight{
    bottom: 200px;
    right: 400px;
}

