body {
    background-color: black;
    margin: 0px;
    font-size: 36px;
}

@font-face {
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/ibf2grq.css);
}

@font-face {
    font-family: "futura-pt", sans-serif;
    src: url(https://use.typekit.net/ibf2grq.css);
}

@font-face {
    font-family: mono45-headline, monospace;
    font-weight: 700;
    font-style: normal;
    src: url(https://use.typekit.net/ibf2grq.css);
}

div.container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
}

div.row {
    display: flex;
    flex-wrap: wrap;
}

div.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
}

div.col {

}

div.width100{
    width: 100%;
}

div.width80{
    width: 80%;
}

div.width75{
    width: 75%;
}

div.width66{
    width: 66.6%;
}

div.width60{
    width: 60%;
}

div.width50{
    width: 50%;
}

div.width40{
    width: 40%;
}

div.width33 {
    width: 33.333%;
}

div.width25 {
    width: 25%;
}

div.width20 {
    width: 20%;
}

div.width16{
    width: 16.66%;
}

div.image{
    height: 50px;
}

div.coloranimation {
    animation: bgcolor 5s infinite alternate ;
    margin-left: 20px;
    margin-right: 20px;
}

@keyframes bgcolor {
    0% {
        background-color: black;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}

div.left {
    height: 100%;
    background-color: #000000;
    overflow: scroll;
}

.heading {
    font-size: 94px;
    font-family: mono45-headline, monospace;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
    text-transform: uppercase;
    line-height: 90%;
    text-align: justify;
}

.text {
    font-size: 40px;
    font-family: mono45-headline, monospace;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: black;
    text-transform: uppercase;
    line-height: 90%;
    text-align: center;
}

.text2{
    font-size: 70px;
    font-family: mono45-headline, monospace;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
    text-transform: uppercase;
    line-height: 80%;
    text-align: left;
}

div.right {
    height: 100%;
    background-color: white;
    overflow: scroll;
}

.textright {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-weight: 100;
}

div.footer {
    position: fixed;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: aliceblue;
    bottom: -10px;
    background-color: #2c2c2c;
    width: 100%;
    padding-top: 20px;
}

.ispy {
    color: aliceblue;
    margin: 0;
    margin-left: 10px;
    font-size: 30px;
    text-transform: uppercase;
}

.line{
    border: 2px solid aliceblue;
    margin-left: 10px;
    margin-right: 10px;
}

.img{
    position:relative
}

.img-hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.img:hover .img-hover{
    display: inline;
}

video.webcam {
    width:100%;
    height: 25%;
    object-fit:cover;
    margin:0px;
    transform: scaleX(-1);
    filter:grayscale(100);
}

div.menu {
    position: fixed;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
    bottom: -10px;
    background-color: #2c2c2c;
    width: 100%;
    padding-top: 20px;
}

div.menu2 {
    position: fixed;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: black;
    bottom: 90px;
    background-color: white;
    width: 100%;
    padding-top: 20px;
}

div.menu3 {
    position: fixed;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
    bottom: 190px;
    background-color: black;
    width: 100%;
    padding-top: 20px;
}

div.menu4 {
    position: fixed;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
    top: 0px;
    background-color: black;
    width: 100%;
    padding-top: 20px;
}

div.menu5 {
    position: fixed;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: black;
    top: 90px;
    background-color: white;
    width: 100%;
    padding-top: 20px;
}

div.menu6 {
    position: fixed;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
    top: 190px;
    background-color: black;
    width: 100%;
    padding-top: 20px;
}

div.menu7 {
    position: fixed;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: black;
    top: 290px;
    background-color: white;
    width: 100%;
    padding-top: 20px;
}

div.link a {
    position: fixed;
    font-family:"verdana";
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
    top: 370px;
    background-color: #2c2c2c;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
}

div.menu9 {
    position: fixed;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: black;
    bottom: 290px;
    background-color: white;
    width: 100%;
    padding-top: 15px;
}

span.red{
    color: #ff2b2b;
}

span.gray{
    color: #4a4a4a;
}

span.gray:hover{
    color: white;
}

span.highlight{
    background-color: black;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

span.highlight:hover{
    color: white;
}